*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body, #root{
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    overflow: hidden;
    scroll-behavior: smooth;
}


.navbuttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px 0;
    border-bottom: 2px solid white;
    background: #062a58;
}

.navbuttons button{
    display: flex;
    width: 100px;
    height: 50px;
    color: white;
    background: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-in; 
}

.navbuttons button:hover{
    background-color: rgba(0, 0, 0, 0.255);
    transform: scale(1.05);
}

a{
    text-decoration: none;
}

.card1 img, .card2 img, .card3 img, .card1, .card2, .card3{
    display: flex;
    height: 100px;
    width: auto;
}

.cards{
    display: flex;
}

.card1, .card2, .card3{
    display: flex;
    justify-content: center;
    align-content: center;
    
    width:200px;
    transition: all 0.3s ease;
}

.card1:hover, .card2:hover, .card3:hover{
    transform: scale(1.1);
}

.card1, .card3{
    margin-top: 180px;
}

.card2{
    margin-top: 30px;
}

.card1 div, .card2 div, .card3 div{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: center;
    width: 80%;
    flex-direction: column;
}

.speaker{
    border: none;
    margin-top: -10px;
    width: 120px;
}

.quote, .speaker{
    width: 150px;
    font-size: 14px;
}

.contactcontainer, .container, .contactcontainer2{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 30px 0;
    border-top: 2px solid;
    color: white;
    background-color: #062a58;
}

.contactcontainer2{
    height: 450px;
    width: 350px;
    border: 5px solid #051f40;
    border-radius: 20px;
    background: #062a58;
    color: white;
    display: flex;
    box-shadow: 0 0 30px darkgrey;
    justify-content: center;
    text-align: justify;
}

.contactcontainer2 h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-decoration: underline 4px;
    text-underline-offset: 10px;
    padding-bottom: 4px;
    width: 100%;
    margin-bottom: 40px;
}

.Name label, .Email label, .Message label{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Name input, .Email input, .Message input{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    box-shadow: 0 0 15px lightgray;
}

.Message input{
    height: 50px;
}

.Submit-Button{
    display: flex;
    justify-content: center;
}

.Submit-Button input{
    color: white;
    width: 100px;
    height: 40px;
    background: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    margin-top:  50px;
    margin-bottom: 10px;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-top: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 0px solid rgba(0, 0, 0, 0);
}

.Submit-Button input:hover{
    background-color: rgba(0, 0, 0, 0.255);
    transform: scale(1.05);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 0px solid rgba(0, 0, 0, 0);
    border-left: 0px solid rgba(0, 0, 0, 0);
}

.footer, .navbuttons{
    z-index: 1000;
}

.container2{
    display: flex;
    border: 5px solid #051f40;
    color: white;
    flex-direction: column;
    align-items: center;
    width: 700px;
    padding-top: 20px;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0 0 30px darkgrey;
    background: #062a58;
}

.homeheader{
    font-size: 80px;
}

.homesubheader{
    font-size: 40px;
}

.homeheader, .homesubheader{
    font-weight: bolder;
}



@media (max-width: 620px) {
    .navbuttons button{
    width: 50px;
    height: 30px;
    font-size: 10px;
    }

    .contactcontainer2{
    height: 400px;
    width: 300px;
    }

    .contactcontainer2 h1{
    font-size: 30px;
    padding-top: 40px;
    margin-top: 20px;
    padding-bottom: 0px;
    }

    .Name input, .Email input, .Message input{
        width: 200px;
    }

    .Submit-Button{
        padding-bottom: 40px;
        margin-bottom: 20px;
    }

    .Name label, .Email label, .Message label{
        margin: 5px;
    }

    .cards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .card1, .card2, .card3{
        margin-top: 20px;
    }

    .homeheader{
    font-size: 40px;
}

.homesubheader{
    font-size: 20px;
}

.container2{
width: 300px;
}
}
