@font-face {
  font-family: 'Myfont';
  src: url(./components/Fonts/My-Font.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Myfont;
  letter-spacing: 4px;
  background-color: #bceffcae;
  color: #333;
}
